*{
	margin: 0;
	padding: 0;
}
.right_num{
	position: fixed;
	right: 0;
	top: 50%;
	width: 40px;
	height: auto;
	margin-top: -250px;
	background: rgba(0,0,0,0.5);
	border-bottom-left-radius: 18px;
	border-top-left-radius: 18px;
	z-index: 999;
}
.num_box:first-of-type{
	margin-top: 10px;
}
.num_box:last-of-type{
	margin-bottom: 10px;
}
.num_box{
	height: 40px;
	width: 40px;
	position: relative;
}
.num{
	position: absolute;
	border: 2px solid;
	height: 14px;
	width: 14px;
	border-radius: 20px;
	top:10px;
	left:10px;
	background: rgba(224,224,254,0.8);
	z-index: 999;
	opacity: 0.8
}
.fullpage{
	width: 100%;
	overflow: hidden;
}
.section{
	width: 100%;
	background-position: center center;	
	position: relative;
}
.under_img{
	width: 100%;
	height: 80px;
	position: absolute;
	background:inherit;
	bottom: 0;
	-webkit-filter: blur(8px); -moz-filter: blur(8px); filter: blur(8px); 
	border-radius: 10px;
}
.word{
	position: absolute;
	width: 100%;
	height: 80px;
	bottom: 0;	
	line-height: 40px;
	font-size: 40px;
	border:2px solid white;
	border-radius: 10px;
	overflow: hidden;
}
.second_section{
	width: 100%;
	height: 1200px;
	background:url(img/1.2.jpg);
	background-size: 100% 100%;	
	background-position: center center;	
	background-attachment: fixed;
	position: relative;
}